<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>381723524191-id14hrgctiqpmdgif9mk6ofpv520ph67.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.381723524191-id14hrgctiqpmdgif9mk6ofpv520ph67</string>
	<key>API_KEY</key>
	<string>AIzaSyCXr6b5jzjjrtb3BqCS1R-Dohz7EOPU-mg</string>
	<key>GCM_SENDER_ID</key>
	<string>381723524191</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finApp</string>
	<key>PROJECT_ID</key>
	<string>fin-app-ddfe7</string>
	<key>STORAGE_BUCKET</key>
	<string>fin-app-ddfe7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381723524191:ios:c7b4a20e5b6444a8072fea</string>
</dict>
</plist>